@import "../fonts/KellySlab-Regular.ttf";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--body-color);
  transition: background-color .5s ease, color .5s ease;
}


:root{
  --body-color: #090e16;
  --nav-color: rgba(122, 74, 226, 0);
  --white: rgb(255, 255, 255);
  --btn: rgba(9, 14, 22,0.7);
  --grey: rgb(118, 118, 118);
}

.light-theme{
  --body-color: rgb(191, 157, 223, 1);
  --nav-color: rgba(123, 74, 226, 0.35);
  --nav-icon-color: rgba(123, 74, 226, 0);
  --white: rgb(255, 255, 255); 
  --btn: rgba(9, 14, 22, 0.7);
  --grey: rgb(252, 244, 244);
}

#menu-icon {
  font-size: 36px;
  color: #6a3cd4;
  display: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 15px;
}

.nav__content {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  background: var(--nav-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__logo img {
  width: 60px;
  height: 60px;
}

.nav__logo p {
  font-size: 28px;
  color: var(--white);
  font-weight: 700;
}

.nav__logo span {
  color: #7341e9;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 0 25px rgba(123, 74, 226, 1);
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav__list-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav__list-link {
  color: var(--white);
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.3s ease-in-out;
  
}
.nav__list-link:hover {
  color: #6a3cd4;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 25px rgba(123, 74, 226, 1);
}

.nav__list-mode {
  color: var(--white);
  background-color: var(--nav-icon-color);
  font-size: 40px;
  border: none;
  transition: 0.3s ease-in-out;
}
.nav__list-mode:hover {
  color: #6a3cd4;
  transition: 0.3s ease-in-out;
}

.intro__content {
  display: flex;
  height: 80dvh;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

.intro__texts {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.rectangle {
  width: 140px;
  height: 36px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: var(--grey);
  transition: 0.3s ease-in;
}

.rectangle:hover {
  background: #6a3cd4;
  transition: 0.3s ease-in;
  box-shadow: 0 0 25px rgba(123, 74, 226, 1);
}

.intro__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: var(--white);
  margin-bottom: 20px;
  cursor: context-menu;
}

.intro__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 32px;
  letter-spacing: 2.2px;
  color: rgba(123, 74, 226, 1);
  margin-bottom: 20px;
  cursor: context-menu;
}

.intro__subtitle {
  font-size: 24px;
  font-weight: 600;
  min-width: 280px;
  margin-bottom: 30px;
  color: var(--white);
}

.intro__subtitle span {
  position: relative;
}

.intro__subtitle span::before {
  content: "Web Developer";
  color: #6a3cd4;
  animation: words 20s infinite;
}
.intro__subtitle span::after {
  content: "";
  background-color: var(--body-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  right: -8px;
  border-left: 4px solid #6a3cd4;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #000;
  }
}
@keyframes words {
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Web Designer";
  }

  41%,
  60% {
    content: "UI / UX Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }

  81%,
  100% {
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.buttons {
  display: flex;
  gap: 30px;
}

.active-btn {
  background-color: rgba(123, 74, 226, 0.7) !important;
  box-shadow: 0 0 25px rgba(123, 74, 226, 1);
}

.button {
  width: 155px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid rgba(123, 74, 226, 0.5);
  background: var(--btn);
  transition: 0.5s ease-in-out;
}

.button a {
  color: white;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  transition: 0.2s;
}

.button:hover {
  background: #6a3cd4;
  transition: 0.3s ease-in;
  box-shadow: 0 0 20px rgba(123, 74, 226, 1);
}

.button:hover a {
  font-size: 24px;
  transition: 0.2s;
}

.intro__img {
  width: 400px;
  height: 400px;
  border-radius: 100px 100px 30px 0px;
  background: linear-gradient(
    179.92deg,
    #6a3cd4 0.07%,
    rgba(248, 242, 244, 0.5) 134.98%
  );
  overflow: hidden;
  position: relative;
  transition: background 0.5s ease, transform 0.5s ease;
}

.intro__img img {
  width: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.intro__img:hover {
  background: linear-gradient(
    179.92deg,
    #6a3cd4 0%,
    rgba(248, 242, 244, 0.7) 100%
  );
  transform: scale(1.05) rotate(2deg);
  box-shadow: 0 0 25px rgba(123, 74, 226, 1);
}

.intro__img:hover img {
  transform: scale(1.1) rotate(-2deg);
}

.subheading {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
  color: var(--grey);
  filter: drop-shadow(0 0 36px rgba(123, 74, 226, 0.5));
}

.about__me-content {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  gap: 50px;
}

.about__me-img {
  display: flex;
  padding: 30px;
  height: 400px;
  background: linear-gradient(
    179.92deg,
    #6a3cd4 0%,
    rgba(248, 242, 244, 0.7) 100%
  );
  border-radius: 30px 40px 0 30px;
}

.about__me-img img {
  display: block;
  width: 100%;
  border-radius: 30px 40px 0 30px;
  transition: 0.3s ease-in;
}

.about__me-img img:hover {
  scale: 1.05;
  transition: 0.3s ease-in;
}

.about__me-infos {
  max-width: 500px;
  width: 100%;
}

.about__me-infos p {
  color: var(--grey);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.about__me-infos p:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 32px;
  color: #6a3cd4;
  filter: drop-shadow(0 0 36px rgba(123, 74, 226, 0.5));
}

.education {
  padding: 100px 15px;
}

.timeline-items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #6a3cd4;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: #6a3cd4;
  box-shadow: 0 0 25px rgba(123, 74, 226, 1), 0 0 50px rgba(123, 74, 226, 1);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: var(--white);
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--nav-color);
  border: 3px solid #6a3cd4;
  padding: 30px 50px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(123, 74, 226, 1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(123, 74, 226, 1);
}

.timeline-content h3 {
  font-size: 20px;
  color: var(--white);
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #6a3cd4;
}
::-webkit-scrollbar-track {
  background-color: var(--body-color);
  width: 50px;
}

.tech__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  place-items: center;
  margin-bottom: 20px;
}

.tech__box {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: auto;
  gap: 10px;
  width: 120px;
  transition: 0.3s ease-in;
}

.tech__box img {
  display: block;
  width: 100%;
}

.tech__box span {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.tech__box:hover {
  scale: 1.05;
  transition: 0.3s ease-in;
}

.projects {
  margin: 50px 0;
}

.project__content-items {
  display: flex;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.project__content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--nav-color);
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #6a3cd4;
  box-shadow: 0 0 10px rgba(123, 74, 226, 1);
  transition: 0.3s ease-out;
}

.project__content-item:hover {
  transition: 0.3s ease-in;
  box-shadow: 0 0 30px rgba(123, 74, 226, 1);
  scale: 1.02;
}

.project__content-item-title {
  color: var(--white);
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 0 0 10px rgba(123, 74, 226, 1);
}

.project__content-item-img {
  width: 300px;
  height: 150px;
}

.project__content-item-link {
  border: 1px solid rgba(123, 74, 226, 1);
  width: 150px;
  text-align: center;
  padding: 15px 10px;
  border-radius: 5px;
  color: var(--white);
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s ease-out;
}

.project__content-item-link:hover {
  background: #6a3cd4;
  transition: 0.3s ease-in;
  box-shadow: 0 0 20px rgba(123, 74, 226, 1);
  scale: 1.05;
}

.submit-btn {
  color: white;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.contact {
  background: var(--body-color);
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px auto;
  flex-wrap: wrap;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  padding: 20px;
  font-size: 20px;
  color: var(--white);
  background: var(--nav-color);
  border-radius: 2rem;
  border: 2px solid rgba(123, 74, 226, 1);
  margin: 10px 0;
  resize: none;
}

.input-group-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer .social {
  text-align: center;
  padding-bottom: 20px;
}

.footer .social ul li a {
  font-size: 30px;
  color: #6a3cd4;
  display: inline-block;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(123, 74, 226, 1);
  border-radius: 50%;
  padding-top: 8px;
  transition: .3s ease-in;

}

.footer .social ul li a:hover {
  transform: scale(1.2) translateY(-10px);
  color: var(--white);
  background-color: #7341e9;
  box-shadow: 0 0 20px rgba(123, 74, 226, 1);
  transition: .3s ease-in;
}

.footer .list {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.list-link {
  color: var(--white);
  font-size: 24px;
}

.list-link:hover {
  color: #6a3cd4;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 25px rgba(123, 74, 226, 1);
}

.copyright {
  color: var(--white);
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1236px) {
  .nav__list-link {
    font-size: 20px;
  }

  .nav__logo p,
  .nav__logo span {
    font-size: 24px;
  }

  .nav__list-mode {
    font-size: 36px;
  }
}

@media (max-width: 1122px) {
  .nav__list-link {
    font-size: 14px;
  }

  .nav__logo p,
  .nav__logo span {
    font-size: 18px;
  }

  .nav__list-mode {
    font-size: 30px;
  }
}

@media (max-width: 955px) {
  .nav__list-mode {
    font-size: 26px;
  }
  .nav__content {
    gap: 0;
  }

  .intro__content {
    height: auto;
    justify-content: center;
  }
  .about__me-content {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .nav__list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    
    background-color: rgba(106, 60, 212, 0.3);
  }
  .nav__list-2 {
    opacity: 0;
    visibility: hidden;
    top: 340px;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
    
    background-color: rgba(106, 60, 212, 0.3);
  }

  .nav__list.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .nav__list.active + .nav__list-2 {
    opacity: 1;
    visibility: visible;
  }

  .nav__list-link {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    
  }
  .nav__list-link:hover {
    background-color: var(--white);
  }

  #menu-icon {
    display: block;
  }

  .nav__content {
    max-width: 370px;
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: start;
  }

  .intro {
    padding: 6rem 3% 0;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--btn); 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .container {
    margin: 0;
  }

  .intro__content {
    height: auto;
  }
}
@media (max-width: 725px) {
  .timeline-item:nth-child(odd) {
    text-align: left;
    padding-right: 0;
  }
  .timeline-item:nth-child(even) {
    text-align: left;
    padding-left: 0;
  }

  .timeline-items::before{
    left: 0;
  }
  
  .timeline-dot{
    left: -24px;
  }

  .project__content-item{
    width: 300px;
  }

  .project__content-item-img {
    width: 240px;
  }
  .project__content-items{
    gap: 30px;
  }

  .intro__img{
    height: auto;
  }

}

@media (max-width:470px) {
  .tech__boxes{
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}
@media (max-width:470px) {
  .contact form .input-box input, .contact form textarea{
    font-size: 16px;
  }
  .copyright{
    font-size: 16px;
  }

  .nav{
    justify-content: center;
  }
}